@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Poppins:wght@300&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@300&family=Teko:wght@300..700&display=swap");

$heading-font: "Cormorant SC", sans-serif;
$paragraph-font: "Inter", sans-serif;

$primary-white: #ffffff;
$primary-black: #121212;
$primary-light-gray: #dedede;
$primary-dark-gray: #575757;

$secondary-white: #fcfcfc;
$secondary-black: #1a1818;
$secondary-gray: #9c9c9c;

$accent-red: #9b4b4b;
$accent-gold: #ab8956;
