@import "../../styles/Variable.module.scss";

.ant-pagination .ant-pagination-item-active {
  border: none;
}

.ant-pagination .ant-pagination-item-active a {
  color: $primary-light-gray;
  font-family: $paragraph-font;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
}

.ant-pagination .ant-pagination-item a:hover {
  color: $primary-light-gray;
}

.ant-pagination .ant-pagination-item {
  border-radius: 4px;
  background-color: transparent;
}
