@import "../../../styles/Variable.module.scss";

@mixin input-style {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $secondary-black;
  border: none;
  outline: none;
  color: $primary-light-gray;
  padding-left: 40px;
  border-radius: 4px;
  font-family: $paragraph-font;
  font-weight: 300;
  font-size: 14px;
  transition: all 0.6s ease;
}
@mixin search-style {
  position: absolute;
  z-index: 10;
  margin-left: 10px;
  fill: $primary-light-gray;
  transition: all 0.6s ease;
}

.all {
  width: 336px;
  height: 36px;
  margin-top: 60px;
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.input,
.inputLight {
  @include input-style;
}
.inputLight {
  color: $primary-dark-gray;
  background-color: $primary-white;
  border: 1px solid $primary-light-gray;
}

.searchIcon,
.searchSvg {
  @include search-style;
}
.searchSvg {
  fill: $primary-dark-gray;
}

@media screen and (max-width: 320px) {
  .all {
    width: 280px;
    height: 33px;
    display: flex;
    justify-content: center;
  }
  .input,
  .inputLight {
    font-size: 12px;
  }
}
